<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lacami Barbearia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body class="pagina-inicial">
    
    <header class="header-inicial">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='img/logo_lacami.jpg') }}" alt="Logo Lacami Barbearia" class="logo">
        </div>
        <h1>Lacami Barbearia</h1>
        <p>Sua paixão define seu sucesso.</p>
    </header>

    <main class="botoes-navegacao">
        <div class="botoes-container">
            <a href="https://wa.me/5518997635638?text=Ol%C3%A1%20Rafael!%20Gostaria%20de%20agendar%20um%20hor%C3%A1rio." target="_blank" class="btn btn-whatsapp">
                <i class="fab fa-whatsapp"></i> Agendar Horário
            </a>
            
            <a href="{{ url_for('barbearia') }}" class="btn btn-secundario">
                <i class="fas fa-store"></i> Conheça a Barbearia
            </a>
            <a href="{{ url_for('sobre') }}" class="btn btn-secundario">
                <i class="fas fa-user-tie"></i> Sobre o Barbeiro
            </a>
            
            <a href="https://instagram.com/lacamibarbearia" target="_blank" class="btn btn-insta">
                <i class="fab fa-instagram"></i> Instagram (@lacamibarbearia)
            </a>
        </div>
    </main>

    <footer>
        <p>© 2026 Lacami Barbearia.</p>
    </footer>
</body>
</html>